
.first-row{
    display: grid;
    gap: 25px 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width:768px){
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
      }

    @media screen and (min-width:1440px){
      grid-template-columns: repeat(4, 1fr);
      width: 80%;
    }
}

.second-row{
  display: grid;
  gap: 24px;
  margin-right:auto;
  margin-left: auto;

  &__title{
    margin-top: 60px;
    font-weight: 700;
    color: var(--Dark-Grayish-Blue-Light);
    font-family: var(--main-font-family);
    font-size: 28px;  
    grid-column: 1 / -1;
  }

  @media screen and (min-width:768px){
    grid-template-columns: repeat(6, 1fr);
    grid-column: 2 / 2;
    width: 80%;
  }
  @media screen and (min-width:1440px){
    grid-template-columns: repeat(4, 1fr);
  }

}
