.switch{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &__checkbox{
        display: none;
      
    }

.switch__label{
    display:flex;
    align-items: center;
    width: 60px;
    height: 25px;
    background-color:var(--Theme-Toggle-Light);
    border-radius: 25px;
    padding: 0 5px;
    
    &::before{
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        background-color:var(--White);
        border-radius: 50%;
        transform: translateX(0);
        transition: transform 0.3s;
        margin-bottom: 1px;
    }

}
&__checkbox:checked + .switch__label::before{
    transform: translate(30px);
}

}
